@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=DM+Sans:wght@400;500;700&family=Poppins:ital,wght@0,400;0,700;1,500&display=swap');

/*=================== rese ========================*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*=================== variables ========================*/

:root {
  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}

/*=================== base ========================*/

body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--text-color);
  background-color: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
}

/*=================== landin page ========================*/

header {
  border-bottom: 1px solid #e4e4e4e4;
}

nav {
  height: 4.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font: 700 1.31rem 'poppins', sans-serif;
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

.container {
  width: 100%;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
